body {
margin: 0;
font-family: 'Verdana';
/* font-family: sans-serif; */
background: linear-gradient(to bottom, #ffffff 0%, #d4e6f9 30%, #bfdbf0 100%);
background-attachment: fixed;
background-size: cover;
color: #2c3e50;
min-height: 100vh;
}

.App {
text-align: center;
}
